MACProject/MACProject.xcodeproj/xcuserdata/qiwang.xcuserdatad/xcschemes/xcschememanagement.plist
MACProject/MACProject.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
MACProject/MACProject.xcworkspace/xcuserdata/qiwang.xcuserdatad/UserInterfaceState.xcuserstate
MACProject/Pods/Pods.xcodeproj/xcuserdata/qiwang.xcuserdatad/xcschemes/xcschememanagement.plist
